/.DS_Store
.DS_Store
*.pxm
/Runemal.xcworkspace/xcuserdata/user.xcuserdatad/UserInterfaceState.xcuserstate
user.mode1v3
/Runemal.xcodeproj/user.pbxuser
/Runemal.xcodeproj/project.xcworkspace/xcuserdata/
/Runemal.xcodeproj/xcuserdata/